#middlePane{
	-fx-background-color: white;
}

.menu-item .label {
    -fx-text-fill: black;
}

.menu-item:focused {
	-fx-background-color:#3c84ff;
	-fx-background-radius:2px;
}
.menu-item:focused .label{
	-fx-text-fill:white;
}

.menu-item{
    -fx-border-color: transparent;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: white;
    -fx-background-insets: 0, 1, 2;
	-fx-background-radius: 5px;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
   /* -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; *//* 4 1 8 1 */
   -fx-padding:2px;
   -fx-border-color:black;
   -fx-border-radius:5px;
}