/*	HTL Leonding	*//* 
    Created on : 21.03.2016, 16:32:05
    Author     : Andreas
*/

#edit{
    -fx-graphic: url("/images/edit.png");
}
#print{
    -fx-graphic: url("/images/printerSmall.png");
}
#costing{
    -fx-graphic: url("/images/calculator.png");
}
#copy{
    -fx-graphic: url("/images/copy.png");
}
#delete{
    -fx-graphic: url("/images/delete.png");
}
#box{
    -fx-spacing:5;
}