/*
    Author     : Kepplinger
*/
.bt_Next{
	-fx-graphic: url("../images/next2.png");
}
.bt_Prev{
	-fx-graphic: url("../images/back.png");
}
.modified{
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}
.bt_save{
	-fx-graphic: url("../images/save3.png");
}

.mainButton{
	-fx-background-color: white;
	-fx-border-color: #3c84ff;
	-fx-border-radius: 10px;
	-fx-border-width: 2px;
	-fx-background-radius: 10px;
}
.mainButton:pressed{
    -fx-background-color: #3c84ff;
    -fx-text-fill: white;
}

.dismiss{
	-fx-graphic: url("../images/menu.png");
}

.changePage{
	-fx-background-color: white;
	-fx-border-color: derive(black,60%);
	-fx-border-radius: 8px;
	-fx-border-width: 2px;
	-fx-background-radius: 8px;
}
.changePage:hover{
	-fx-border-color: derive(black,20%);
}

.changePage:pressed{
    -fx-background-color: derive(lightgray,60%);
}

#bar{
	/* linear-gradient(#ffffff  0%, lightgrey  20%, lightgrey 80%, lightgrey 100%)*/
	-fx-background-color:linear-gradient(lightgrey  0%, derive(lightgrey,60%) 5%,derive(lightgrey,65%) 7%);
}