/*
    Author     : Kepplinger
*/
.bt_Next{
	-fx-graphic: url("../images/next2.png");
}
.bt_Prev{
	-fx-graphic: url("../images/back.png");
}
.modified{
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}
