.sideview {
    -fx-background-color: white;
        /*linear-gradient(from 00% 00% to 100% 0%, #BDBDBD 0%, white 100%);*/
}
.label:hover{
    -fx-font-weight:bold;
}
.label{
    -fx-font-size:18px;
}

#showProjects{
    -fx-graphic: url("../images/showAll2.png");
}
#newProject{
    -fx-graphic: url("../images/new2.png");
}
#printProject{
    -fx-graphic: url("../images/printer0.png");
}
#productList{
    -fx-graphic: url("../images/box2.png");
}
#parameter{
    -fx-graphic: url("../images/parameter2.png");
}
#clients{
    -fx-graphic: url("../images/client2.png");
}
#options{
    -fx-graphic: url("../images/option2.png");
}
#menu{
	-fx-graphic: url("../images/menu.png");
	-fx-font-weight: bold;
	-fx-font-size: 24px;
}
#menu:hover{
	-fx-background-color: derive(#3c84ff,10%);
	-fx-graphic: url("../images/menu2.png");
	-fx-background-radius: 5px;
	-fx-text-fill:whitesmoke;
}