/*	HTL Leonding	*//* 
    Created on : 30.04.2016, 22:50:44
    Author     : Andreas
*/

#settings{
    -fx-background-color: rgba(255,255,255,0.9);
}
#settingsOpen{
    -fx-graphic: url("../images/option2.png");
    -fx-border-color: #3c84ff;
    -fx-border-width: 2px;
    -fx-background-color: white;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
}
#settingsSubmit{
    -fx-border-color: #3c84ff;
    -fx-border-width: 2px;
    -fx-background-color: white;
    -fx-border-radius: 5px;
}
#settingsTitle{
    -fx-graphic: url("../images/option2.png");
    -fx-text-fill: #3c84ff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}