/*	HTL Leonding	*//* 
    Created on : 21.02.2016, 09:48:59
    Author     : User
*/
#boldLettering{
    -fx-font-size: 18px;   
    -fx-text-fill: #000000; 
    -fx-font-weight:bold;
}
#boldHeadline{
    -fx-font-size: 20px;   
    -fx-text-fill: #000000; 
    -fx-font-weight:bold;   
}
#bigBoldHeadline{
    -fx-font-size: 24px;   
    -fx-text-fill: #000000; 
    -fx-font-weight:bold; 
}
#smallBoldText{
    -fx-font-size: 12px;   
    -fx-text-fill: #000000; 
    -fx-font-weight:bold;  
}
#normalLettering{
    -fx-font-size: 18px;   
    -fx-text-fill: #000000;   
}
#btnLettering{
    -fx-font-size:18px;
    -fx-text-fill: #000000;   
}
#smallUnitsLettering{
    -fx-font-size:14px;
    -fx-text-fill: #000000;
}
#smallBtnLettering{
    -fx-font-size:12px;
    -fx-text-fill: #000000;    
}
#smallNormalLettering{
    -fx-font-size: 14px;   
    -fx-text-fill: #000000;  
}
#productlistheadline{
    -fx-font-size: 14px;   
    -fx-text-fill: #000000;  
}
#UnitNotInText{
    -fx-font-size: 18px;   
    -fx-text-fill: #000000;   
}